body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind', sans-serif;
    background: radial-gradient(at left top, #E71D36, #2EC4B6, #FF9F1C);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind', sans-serif;
    color: #011627;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind', sans-serif;
    color: #011627;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homePage-body {
    background-image: url("../uploads/BackgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-style {
    background-color: #FDFFFC;
}

.login-nav li a{
    color: #E71D36;
}

.breadcrumb {
    background-color: rgba(224, 255, 255, 0.4);
}

.jumbotron {
    background-color: rgba(224, 255, 255, 0.4);
}

.transparent-list li {
    background-color: rgba(224, 255, 255, 0);
    border-left: none;
    border-top: none;
    border-right: none;
}

.friend-list li {
    background-color: rgba(224, 255, 255, 0);
}

.avatar-image {
    float: left;
}

.upcoming-text, .page-heading, .comments-intials {
    color: #007552;
}

.card {
    background-color: rgba(224, 255, 255, 0);
    border: none;
}

.card a {
    color: #007552;
}

.card-bordered {
    border: .5px solid grey;
    height: 200px;
}

.friend-request-card {
    border: .5px solid grey;
}

.thumbnail-image {
    width: 100%;
    height: 50px;
}

.moment-detail-image {
    width: 100%;
    height: 500px;
}

.kheech-schedule {
    margin-right: 4px;
    max-width: 32%;
}

.kheech-friend {
    margin-left: 4px;
    margin-right: 4px;
    max-width: 32%;
}

.kheech-moments {
    margin-left: 4px;
    max-width: 32%;
}

#start-page {
    margin-top: 70px;
    color: #E71D36;
    text-align: justify;
}

.homePageCard {
    width: auto;
    height: 300px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #011627;
}

.homePageCardImg {
    border-radius: 50%;
    width: 160px;
}

.homePageCardTitle {
    position: relative;
    top: 100px;
    color: #011627;
}

.card-row {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.kheech-comments {
    margin: 5px 5px 5px 5px;
    border: 1px solid #2EC4B6;
    border-radius: 3px 4px;
    width: 90%;
    height: 40%;

}

.followimage {
    width: 50px !important;
    height: 50px !important;
}

.footer-text {
    font-size: 12px;
}

.form-container {
    background-color: rgba(224, 255, 255, 0.4);
    max-width: 500px;
}

.momnet-index-cards {
    box-shadow: 0px 0px 3px 3px grey;
}

.moment-index-image {
    height: 150px;
}
