body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Hind', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#start-page {
    background-image: url("https://images.unsplash.com/photo-1502758930693-b8fb0f909327?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fcf0d50cb456e9902fc819fd55df8a52&auto=format&fit=crop&w=1050&q=80");
    padding: 20px 20px 20px 20px;
    color: #E71D36;
    text-align: justify;
    text-shadow: 1px 1px #EF233C;
}

.card {
    width: auto;
    height: 300px !important;
}

.card-img {
    border-radius: 50%;
}

.kheech-schedule {
    width: 300px;
    height: 300px;
    background-image: url("https://hips.hearstapps.com/cos.h-cdn.co/assets/cm/14/25/53a0783383e88_-_cos-01-meeting-friends-xl.jpg");
}
