body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    width: auto;
    height: 300px !important;
}

.kheech-schedule {
    width: 300px;
    height: 300px;
    background-image: url("https://hips.hearstapps.com/cos.h-cdn.co/assets/cm/14/25/53a0783383e88_-_cos-01-meeting-friends-xl.jpg");
}
