@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="container-fluid" id="start-page">
    <div class="row">
        <h3 class="col-sm-12 text-center">
            <strong>The simplest way to stay connected with Friends and Family </strong><br>
            <small><small> Here how it works </small></small>
        </h3>
    </div>
    <div class="row card-row">
        <div class="col-sm-4">
            <div class="card homePageCard text-center">
                <div class="card-body">
                    <h4 class="card-title homePageCardTitle"><strong>Invite</strong></h4>
                    <img class="card-img homePageCardImg border-rounded" src="../uploads/InviteCardImage.png" alt="Invite People">
                    <p class="card-text">Choose What, Where, Who and Send.</p>    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card homePageCard text-center">
                <div class="card-body">
                    <h4 class="card-title homePageCardTitle"><strong>Choice</strong></h4>
                    <img class="card-img homePageCardImg border-rounded" src="../uploads/commentsIcon.png" alt="Discussion and comments">
                    <p class="card-text">Discuss, comment and Make up one's mind</p>    
                </div>
            </div>                                       
        </div>
        <div class="col-sm-4">
            <div class="card homePageCard text-center">
                <div class="card-body">
                    <h4 class="card-title homePageCardTitle"><strong>Meet</strong></h4>
                    <img class="card-img homePageCardImg border-rounded" src="../uploads/MeetingIcon.jpg" alt="Meet your Friends">
                    <p class="card-text">Enjoy your day with your friends in the Real World</p>    
                </div>
            </div>                                       
        </div>
    </div>    
</div>

