@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
            <h3 class="col-sm-12 text-center">The simplest way to stay connected with Friends and Family</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h5>Here is how it works</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Invite</h4>
                    <img class="card-img border-rounded" src="https://lh5.ggpht.com/jrKQfVOVSbdjaui2kz0xqUJlVMbkxI3xc55BaPFvtFT-F7pqWj7ZR4fkcvtnUtSUch6s=w300" alt="Invite People">
                    <p class="card-text">Choose What, Where, Who and Send.</p>    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Choice</h4>
                    <img class="card-img border-rounded" src="http://sharepointmaven.com/wp-content/uploads/2017/01/comments-icon.png" alt="Discussion and comments">
                    <p class="card-text">Discuss, comment and Make up one's mind</p>    
                </div>
            </div>                                       
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Meet</h4>
                    <img class="card-img border-rounded" src="https://www.sunregionega.org/wp-content/uploads/2015/11/RegionMeetingIcon.jpg" alt="Meet your Friends">
                    <p class="card-text">Enjoy your day with your friends in the Real World</p>    
                </div>
            </div>                                       
        </div>
    </div>    
</div>

