@{
    ViewBag.Title = "Index";
}

<div class="container kheech-page-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>Find a suitable time</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="http://www.soy502.com/sites/default/files/styles/full_node/public/2017/Abr/13/friends_grupo.jpg" alt="Any meeting" />
            <button class="btn">Any Meeting</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-0.3.5&s=47a504a636bd9a4b93ee74e4d5b3af38&auto=format&fit=crop&w=800&q=80" alt="food meeting" />
            <button class="btn">food Meeting</button>
        </div>
    </div>
</div>




https://image.freepik.com/fotos-gratis/conceito-de-jogo-de-mesa-com-um-grupo-de-amigos-gritando_23-2147718805.jpg
https://hips.hearstapps.com/cos.h-cdn.co/assets/cm/14/25/53a0783383e88_-_cos-01-meeting-friends-xl.jpg
