@model Kheech.Web.ViewModels.FriendsIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h3>Get to know about your friends</h3><br />
        <small>@Model.FriendsCount friends</small>
        <ul class="list-group list-unstyled col-sm-12">
            @foreach (var friend in Model.FriendViewModels)
        {
            <li class="list-group-item">@friend.Name</li>
    }
        </ul>
    </div>
    <form class="form-group row" method="post" action="@Url.RouteUrl("InviteAFriendPost")">
        @Html.AntiForgeryToken()
        <input type="email" class="form-control col-sm-12" id="friendEmail" name="friendEmail" placeholder="name@example.com">
        <button class="offset-sm-5 col-sm-2" type="submit">Add a friend</button>
    </form>
</div>


