//FriendsIndexViewModel class

public int FriendsCount {get; set;}

public IEnumerable<FriendViewModel> FriendViewModels {get; set;}

//Friends Index View:
@model Kheech.Web.ViewModels.FriendsIndexViewModel

<div class="jumbotron">
  <div class="row"
    <ul class="list-group list-unstyled col-sm-12">Get to know about your friends
      <small>@Model.FriendsCount friends</small>
      @foreach(var friend in Model.FriendViewModels)
      {
        <li class="list-group-item">@friend.Name</li>
      }
    </ul>
</div>
<form class="form-group row" method="post" action="@Url.RouteUrl("InviteAFriendPost", new { id = Model.Id})">
  @Html.AntiForgeryToken()
  <input type="email" class="form-control col-sm-12" id="friendEmail" name="friendEmail" placeholder="name@example.com">
  <button class="offset-sm-5 col-sm-2" type="submit">Add a friend</button>
  </form>
</div>
